body {
    font-family: "Lucida Console", "Courier New";
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    overflow: hidden; /* Disables scrolling */
    height: 100%;
}
/* ID selector */
#home {
    font-weight: bold;
}

/* Pseudo-element */
h1::before {
    content: "Welcome ";
}

header{
    background-color: #333;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    height: 80px;
    justify-content: space-between;
}

header img {
    width: 100px;
    height: 60px;
    border-radius: 50%;
}


.left-side, .right-side{
    display: flex;
    align-items: center;
}

li{
    float: left;
    padding: 15px;
    list-style-type: none;
}

.navBar{
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-color: black;
    border: 0, 0, 0, 10px;

}

li:hover{
    background-color: rgb(164, 164, 164);
}
/* Child selector */
li > a{
    color: white;
    display: block;
    text-decoration: none;
    text-align: center;
    width: 100%;
}

.container {
    display: flex;
    justify-content: center; /*centers the child elements horizontally within the container.*/
    align-items: center; /*centers the child elements vertically within the container.*/
    height: 100vh;
}
.login-box h1{
    font-size: medium;
    padding-bottom: 10px;
}
/* Class Selector */
.login-box {
    background-color: #e2e2e2;
    padding: 5px 40px 10px 40px;
    border-radius: 10px;
    text-align: center;
}

/* Descendant selector */
.login-box a {
    display: block;
    text-decoration: none;
    color: #46b8e1;
}

form {
    display: flex;
    flex-direction: column;   /* Stack form elements vertically */
    align-items: center;      /* Center the form elements */
}
/* Input fields styling */
input[type="text"],
input[type="password"],
input[type="email"] {
    width: 90px;
    font-family: "Lucida Console";
    padding: 5px;
    margin: 2px;
    height: 20px;
    border: 1px solid #cccccc;
}

.login-box button {
    background-color: #2d748e;
    color: white;
    margin: 12px;
    border: none;
    padding: 6px;
    width: 70px;
    cursor: pointer;
}

/* Adjacent sibling selector */
h1 + a.create-account {
    color: #46b8e1;   /* Turns the 'Create an account' link red */
    font-weight: bold;
}

/* General sibling selector */
h1 ~ p {
    font-style: italic;
}

.dropdown-menu {
    display: none; 
    position: absolute;
    top: 100%; 
    right: 0;
    background-color: white;
    min-width: 150px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 12px;
  
}
.dropdown-menu p {
    color: black;
    padding: 4px;
    text-decoration: none;
    display: block;
}
.dropdown-menu a{
    color: black;
    padding: 4px;
    text-decoration: none;
    display: block;
}




