/* Css for header */
html{
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

body{
    margin: 0;
    padding: 0;
    height: 100%;
}

header{
    background-color: #333;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    height: 80px;
    justify-content: start;
}


li{
    float: left;
    padding: 15px;
    list-style-type: none;
}

.navBar{
    padding-left: 10px;
    margin: 0px;
    z-index: 1000;
}

li:hover{
    background-color: rgb(164, 164, 164);
}

li a{
    color: white;
    display: block;
    text-decoration: none;
    text-align: center;
}

aside.leftSide,
aside.rightSide {
    position:static; /* Avoid absolute positioning */
    background-color: black;
    width: 20rem;
    height: 100vh; /* Full height of the screen */
    z-index: 5;
    top: 80px;

}
aside.leftSide {
    float: left; /* Left alignment */
}

aside.rightSide {
    float: right; /* Right alignment */
}
